@using AppFramework.Control;
@using SBSResourceAPI;
@using Agnos.Models;
@{
   ViewBag.Title = Resource.Reset_Password_Complete;
}

@if (!User.Identity.IsAuthenticated)
{
   <script type="text/javascript">
      $(function () {
         $("#content").addClass('full-page bg-8');
      });
   </script>
}
<div class="main">
   @if (!User.Identity.IsAuthenticated)
   {
      <div style="height:50px"></div>
   }
   @Html.AppPageHeader(Resource.Reset_Password_Complete)
   <section class="tile">
      <div class="tile-body">
         <div class="row">
            <div class="col-md-12 text-center">
               <h4><i class="fa fa-user color-green"> @Resource.Reset_Password_Complete</i></h4>
            </div>
         </div>
      </div>
   </section>
   <section class="tile">
      <div class="tile-body">
         <div class="row">
            <div class="col-md-12 text-center">
               @Html.AppActionLink(Resource.Go_To_Home.ToUpper(), Url.Action("Index", "Home"), AppColor.none)
            </div>
         </div>
      </div>
   </section>
</div>
